[Unit]
Description=Spring Boot Service
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/Techbleat-week-8/java
ExecStart=/usr/bin/java -jar target/produce-app-0.0.1-SNAPSHOT.jar --server.port=8080
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=springboot

[Install]
WantedBy=multi-user.target